html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
}

html,
body {
  margin: 0px;
  height: 100%;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.01rem;
}

/****************************************************************
Header
****************************************************************/
header {
  grid-area: header;
  font-family: Helvetica, sans-serif;
  background-image: linear-gradient(-30deg, #dc85ff, #ffbc2a);
  padding: 8px 4px;
  flex-shrink: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

h1 {
  margin: 0;
  font-size: 2.5em;
  text-shadow: 0px 1px 2px #393535;
  color: #fff;
}

header nav {
  display: flex;
  flex-wrap: wrap;
}

header button {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
  height: 40px;
  min-width: 40px;
  border-radius: 4px;
  letter-spacing: 0.01rem;
  font-weight: 600;
  font-size: 1em;
  line-height: 1.4;
  border: 2px solid transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  font-family: "Open Sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border-color 0.5s, background-color 0.5s;
  margin: 6px;
}

header svg {
  color: #fff;
  font-size: 2rem;
  margin-right: 5px;
  width: 20px;
}

header #clearButton svg,
header #undoButton svg {
  fill: #fff;
}

header button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

#sidebar {
  grid-area: sidebar;
  overflow-y: scroll;
}

#content {
  grid-area: content;
}

.footer {
  grid-area: footer;
}

.sideBarItem {
  max-height: 50px;
  max-width: 50px;
  padding: 5px;
}

.sideBarItem img {
  max-height: 50px;
  max-width: 50px;
}

.colourPalette {
  grid-area: colourP;
  display: flex;
  flex-direction: grid;
  flex-flow: wrap;
}

.options {
  grid-area: options;
  padding: 15px;
}

.colourSwatches {
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  max-height: 40px;
  max-width: 40px;
  margin: 5px;
}
