/****************************************************************
Css Reset
http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
****************************************************************/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/****************************************************************
General
****************************************************************/
html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  background-color: #edf0f2;
}

html,
body {
  margin: 0px;
  height: 100%;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.01rem;
}

/****************************************************************
Header
****************************************************************/
header {
  grid-area: header;
  background-image: linear-gradient(-30deg, #dc85ff, #ffbc2a);
  border-bottom: 1px solid #dddddd;
  padding: 8px 4px;
  flex-shrink: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

h1 {
  margin: 0;
  font-family: Helvetica, sans-serif;
  font-size: 2.5em;
  text-shadow: 0px 1px 2px #393535;
  color: #fff;
  font-weight: bold;
}

header nav {
  display: flex;
  flex-wrap: wrap;
}

header button {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
  height: 40px;
  min-width: 40px;
  border-radius: 4px;
  letter-spacing: 0.01rem;
  font-weight: 600;
  font-size: 1em;
  line-height: 1.4;
  border: 2px solid transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border-color 0.5s, background-color 0.5s;
  margin: 6px;
}

header svg {
  color: #fff;
  font-size: 2rem;
  margin-right: 5px;
  width: 20px;
}

header #clearButton svg,
header #undoButton svg {
  fill: #fff;
}

header button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

/****************************************************************
Main
****************************************************************/
main {
  display: grid;
  height: 100%;
  grid-template-columns: 50px 230px;
  grid-template-rows: minmax(1000px, 1fr);
  grid-template-areas: "sidebar content content";
  background-color: #fff;
  color: #444;
}
/****************************************************************
Sidebar
****************************************************************/
aside {
  grid-area: sidebar;
  background: #0e1318;
  z-index: 2;
}

.sideBarItem {
  max-height: 50px;
  max-width: 50px;
  padding: 8px 5px;
  text-align: center;
  position: relative;
  cursor: pointer;
}

.sideBarItem img {
  max-height: 50px;
  max-width: 50px;
  width: 25px;
  /*To remove
 https://stackoverflow.com/questions/22252472/how-to-change-the-color-of-an-svg-element 
  */
  filter: invert(100%) sepia(5%) saturate(7462%) hue-rotate(88deg)
    brightness(128%) contrast(103%);
}

.sideBarItem.active {
  background: #f9b34c;
}

.sideBarItem.active img {
  width: 27.5px;
  filter: invert(0%) sepia(0%) saturate(7500%) hue-rotate(327deg)
    brightness(96%) contrast(104%);
}

.sideBarItem.active .toolConfig.active + .tooltiptext {
  display: none;
}

.toolConfig {
  display: none;
}

.toolConfig.active {
  background-color: #0e1318;
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  left: 60px;
  top: 0;
  display: block;
}

.toolConfig.active:after {
  content: " ";
  position: absolute;
  top: 10px;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #0e1318 transparent transparent;
}

.sideBarItem .tooltiptext {
  visibility: hidden;
  width: auto;
  background-color: #e08be7;
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  left: 50px;
}

.sideBarItem:hover .tooltiptext {
  visibility: visible;
}

.sideBarItem .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #e08be7 transparent transparent;
}

/****************************************************************
Drawing Area
****************************************************************/
#content {
  grid-area: content;
}

.colourPalette {
  grid-area: colourP;
  display: flex;
  flex-direction: grid;
  flex-flow: wrap;
}

.options {
  grid-area: options;
  padding: 15px;
}

.colourSwatches {
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  max-height: 40px;
  max-width: 40px;
  margin: 5px;
}

/****************************************************************
Modal
****************************************************************/
#modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
